table {
    border: 2px solid gray;
    width: 100%;
    align-items: center;
    background-repeat: no-repeat;
    font-size: 25px;
    width: 80%;
    height: 9px;
    margin: 10px 60px 70px 50px;
    justify-content: center;
    position: absolute;


}

thead :nth-child(1) {
    float: center;

}

td {
    margin: 100%;
}

th {
    border-bottom: 2px solid gray;
    align-items: center;

}

tr:nth-child(2) {
    text-align: left;
}