.p1 {
    margin-top: 400px;
    justify-content: space-between;
    align-items: center;
    display: block;
}
.divider p {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
