/* this is the notification style */
/* modification about notification */
.Notifications {
    border: 3px dashed red;
    padding: 0px;
    display: block;
    float: inline-end;
    width: 30%;
}

div>p {
    color: black;
    font-size: 30px;
    margin-left: 20px;
   


}

/* menu items text  */
.menuItem h1 {
    text-align: end;
}






ul>li {
    color: red;
    font-size: 25px;
    margin-left: 50px;
    
    
}
/*** ad this to change teh color of notification  start **/
[data-notification-type='default'] {
	color: blue;
}