h1{
	color: red;
}
#logo{
	margin: 0;
	float: right;
	font-weight: bold;
        height: 200px;
        width: 200px;
        background: url('../../assets/holberton-logo.jpg');
        background-size: 200px 200px;
}
