/* this is the notification style */
 .menuItem {
    font-size: 1.3rem;
} 
.Notifications {
    border: 3px dashed red;
    padding: 20px;
    margin-top: 10px;
}
div>p {
    color: black;
    font-size: 30px;

}

ul>li {
    color: red;
    font-size: 25px;
    
    
}
/*** ad this to change teh color of notification  start **/
[data-notification-type='default'] {
	color: blue;
    
}